@font-face {
  font-family: "MuseoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MuseoRegular/MuseoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoRegular/MuseoRegular.woff") format("woff"), url("../fonts/MuseoRegular/MuseoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaRoundBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/FuturaRoundBold/FuturaRoundBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaRoundBold/FuturaRoundBold.woff") format("woff"), url("../fonts/FuturaRoundBold/FuturaRoundBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
}

@font-face {
  font-family: "FregatRegular";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FregatRegular/FregatRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/FregatRegular/FregatRegular.woff") format("woff"), url("../fonts/FregatRegular/FregatRegular.ttf") format("truetype");
}

@font-face {
  font-family: "RalewayRegular";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
}
