body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  color: #000;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
  text-shadow: 0px 1px 1px #424242;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

section {
  text-align: center;
  font-size: 20px;
  padding: 15px 0;
}

h2 {
  font-family: "RobotoBold", sans-serif;
  font-size: 35px;
  display: inline-block;
  padding: 0 40px;
  text-transform: uppercase;
}

header {
  background-image: url(../img/bg8.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  min-height: 650px;
  position: relative;
}

header button {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 35px;
  background-color: #010335;
  color: #FFFFFF;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  z-index: 2000;
  opacity: 0.8;
  border-radius: 10px;
}

header .nav {
  text-align: center;
  background: #000052;
  opacity: 0.85;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header .nav ul li {
  list-style-type: none;
  display: inline-block;
}

header .nav ul li a {
  font-size: 18px;
  font-family: "RobotoBold", sans-serif;
  padding: 15px;
  color: #F9FB7B;
  text-decoration: none;
}

header .nav ul li a:hover, header .nav ul li a :focus {
  color: #FF4141;
  text-decoration: none;
  opacity: 1;
}

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-bottom: 150px;
}

.top_wrapper .top_descr {
  display: table-row;
}

.top_wrapper .top_descr .top_centered {
  display: table-cell;
  text-align: center;
  vertical-align: bottom;
}

.top_wrapper .top_descr .top_centered .top_text {
  display: inline-block;
  color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.top_wrapper .top_descr .top_centered .top_text .advertising {
  text-align: center;
  font-size: 40px;
  color: #D40000;
  font-style: italic;
  max-width: 1024px;
  background-color: #E5F4FF;
  opacity: 0.75;
  padding: 15px;
}

.top_wrapper .top_descr .top_centered .top_text > span {
  display: inline-block;
  border-bottom: 3px #fff solid;
  padding: 10px 120px;
  font-size: 40px;
  margin-bottom: 0;
}

.top_wrapper .top_descr .top_centered .top_text h1 {
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: "RobotoBold", sans-serif;
  text-transform: uppercase;
}

.section-border {
  position: absolute;
}

.section-border-top {
  border-style: solid solid solid dashed;
  bottom: 0;
  border-width: 60px 0 0 2880px;
}

.section-border-bottom {
  border-style: solid dashed solid solid;
  top: 0;
  border-width: 60px 2880px 0 0;
}

.border1 {
  border-color: transparent transparent transparent #F9FA7A;
}

.border2 {
  border-color: #F9FA7A transparent transparent transparent;
}

.border3 {
  border-color: transparent transparent transparent #ACB7D7;
}

.border4 {
  border-color: transparent #ACB7D7 transparent transparent;
  border-width: 0 2880px 60px 0;
}

.border5 {
  border-color: transparent transparent #B9F281;
  border-width: 0 0 60px 2880px;
  top: 0;
}

.border6 {
  border-color: #B9F281 transparent transparent transparent;
}

.border7 {
  border-color: transparent transparent transparent #fff;
}

#skills {
  background-color: #F9FA7A;
}

#skills h2 {
  color: #000;
  border-bottom: 1px #000 solid;
}

#skills span {
  display: inline-block;
  padding: 13px;
  font-size: 20px;
  font-family: "RobotoBold", sans-serif;
  color: #000;
  border: 3px #000 solid;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px;
  margin-left: 10px;
  z-index: 1000;
}

#skills span:hover {
  background-color: #000;
  color: #fff;
}

.insert {
  height: 110px;
  width: 100%;
  background-image: url(../img/bg8.jpg);
  background-attachment: fixed;
  position: relative;
}

#how_work {
  background-color: #ACB7D7;
}

#how_work h2 {
  color: #fff;
  border-bottom: 1px #fff solid;
}

#how_work p {
  color: #fff;
}

.left {
  text-align: right;
  border-right: #71B5B2 1px solid;
}

.resume_item {
  margin-bottom: 40px;
}

.resume_item .year {
  font-family: "RobotoBold", sans-serif;
  background-color: #00004D;
  color: #fff;
  display: inline-block;
  padding: 7px;
  font-size: 18px;
}

.resume_item p {
  color: #000;
}

.right {
  text-align: left;
}

#portfolio {
  background-color: #B9F281;
}

#portfolio h2 {
  border-bottom: 1px #333 solid;
  margin-bottom: 0;
}

#portfolio h3 {
  font-size: 16px;
  font-weight: normal;
}

#portfolio .descr-cont {
  width: 300px;
  position: relative;
  margin: 0 auto 10px;
}

#portfolio .descr-cont .descr {
  position: absolute;
  font-size: 16px;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 70px 7px 0 7px;
  text-align: center;
  transform: rotateY(90deg);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#portfolio .descr-cont .descr a {
  padding: 8px;
  color: #FEFF80;
  border: 2px #FEFF80 solid;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

#portfolio .descr-cont .descr :hover {
  text-decoration: none;
}

#portfolio .descr-cont img {
  width: 300px;
  height: 250px;
}

#portfolio .descr-cont:hover .descr {
  opacity: 1;
  top: 0;
  transform: rotateY(0deg);
}

#contacts {
  padding-bottom: 15px;
}

#contacts h2 {
  color: #860000;
  border-bottom: 1px #610000 solid;
  margin-bottom: 0;
}

#contacts p {
  color: #000;
  font-size: 25px;
}

#contacts span {
  color: #860000;
  font-weight: bold;
}

.hidden {
  display: none;
}

.mfp-content {
  max-width: 500px;
  position: relative;
}

.mfp-content .site {
  margin: 0 auto;
  padding-top: 10px;
  color: #000;
  background-color: #FFF;
  text-align: center;
}

.mfp-content .site h3 {
  color: #000;
}

.mfp-content .site p {
  padding: 10px;
  text-align: left;
}

.mfp-content .site a {
  display: inline-block;
  margin: 0 auto;
  border: 2px #4283BC solid;
  text-transform: uppercase;
  padding: 8px;
  margin-bottom: 10px;
}

.mfp-content .site a:hover {
  text-decoration: none;
  background-color: #4283BC;
  color: #fff;
}

.mfp-content .site img {
  width: 100%;
  bottom: 0;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 25px;
}

footer span {
  color: #fff;
  display: inline-block;
}

.mPS2id-highlight {
  color: #FF4141 !important;
}
