body {
  font-family: "RalewayRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

section {
  padding: 30px 0px;
  text-align: center;
  font-size: 20px;
}

h2 {
  font-family: "FuturaRoundBold", sans-serif;
  font-size: 35px;
  display: inline-block;
  padding: 0 40px;
}

header {
  background-image: url(../img/bg1.jpg);
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  min-height: 530px;
  position: relative;
}

header button {
  position: fixed;
  top: 5px;
  left: 5px;
  font-size: 35px;
  background-color: #000;
  color: #B6B992;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  z-index: 2000;
  opacity: 0.8;
  border-radius: 10px;
}

header .nav {
  text-align: center;
  background: #440A0A;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header .nav ul li {
  list-style-type: none;
  display: inline-block;
}

header .nav ul li a {
  font-size: 21px;
  font-family: "FuturaRoundBold", sans-serif;
  padding: 15px;
  color: #EAB556;
  text-decoration: none;
}

header .nav ul li a:hover, header .nav ul li a :focus {
  color: #D26308;
  text-decoration: none;
  opacity: 1;
}

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.top_wrapper .top_descr {
  display: table-row;
}

.top_wrapper .top_descr .top_centered {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.top_wrapper .top_descr .top_centered .top_text {
  display: inline-block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.top_wrapper .top_descr .top_centered .top_text span {
  color: #CAA95C;
  display: inline-block;
  border-bottom: 3px #727B59 solid;
  padding: 10px 120px;
  font-size: 40px;
  margin-bottom: 0;
  font-family: "FuturaRoundBold", sans-serif;
}

.top_wrapper .top_descr .top_centered .top_text h1 {
  color: #B6B992;
  font-size: 55px;
  margin-top: 0;
  font-family: "FuturaRoundBold", sans-serif;
  text-transform: uppercase;
}

#skills {
  background-color: #77825B;
}

#skills h2 {
  color: #56431F;
  border-bottom: 1px #56431F solid;
}

#skills p {
  border: 5px #B6B992 solid;
  padding: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 21px 4px #3c3c3c;
  -moz-box-shadow: 0px 0px 21px 4px #3c3c3c;
  box-shadow: 0px 0px 21px 4px #3c3c3c;
}

#skills p strong {
  font-family: "FuturaRoundBold", sans-serif;
}

.insert {
  height: 50px;
  width: 100%;
  background-image: url(../img/bg1.jpg);
  background-attachment: fixed;
}

#how_work {
  background-color: #5B8E8C;
}

#how_work h2 {
  color: #1A413E;
  border-bottom: 1px #1A413E solid;
}

.left {
  text-align: right;
  border-right: #71B5B2 1px solid;
}

.resume_item {
  margin-bottom: 40px;
}

.resume_item .year {
  font-family: "FuturaRoundBold", sans-serif;
  color: #772800;
}

.right {
  text-align: left;
}

#portfolio {
  background-color: #7D6E6A;
}

#portfolio h2 {
  border-bottom: 1px #333 solid;
  margin-bottom: 0;
}

#portfolio h3 {
  font-size: 16px;
}

#portfolio .descr-cont {
  width: 300px;
  position: relative;
  margin: 0 auto 10px;
}

#portfolio .descr-cont .descr {
  position: absolute;
  font-size: 16px;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 70px 7px 0 7px;
  text-align: center;
  transform: rotateY(90deg);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#portfolio .descr-cont .descr a {
  padding: 8px;
  color: #D6C9A7;
  border: 2px #D6C9A7 solid;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

#portfolio .descr-cont .descr :hover {
  text-decoration: none;
}

#portfolio .descr-cont img {
  width: 300px;
  height: 250px;
}

#portfolio .descr-cont:hover .descr {
  opacity: 1;
  top: 0;
  transform: rotateY(0deg);
}

#contacts {
  background-color: #845E50;
}

#contacts h2 {
  color: #610000;
  border-bottom: 1px #610000 solid;
  margin-bottom: 0;
}

#contacts p {
  color: #000;
  font-size: 25px;
}

#contacts p span {
  color: #860000;
  font-family: "FuturaRoundBold", sans-serif;
}

.hidden {
  display: none;
}

.mfp-content {
  max-width: 500px;
  position: relative;
}

.mfp-content .site {
  margin: 0 auto;
  padding-top: 10px;
  color: #000;
  background-color: #FFF;
  text-align: center;
}

.mfp-content .site h3 {
  color: #D46F3B;
}

.mfp-content .site p {
  padding: 10px;
  text-align: left;
}

.mfp-content .site a {
  display: inline-block;
  margin: 0 auto;
  border: 2px #4283BC solid;
  text-transform: uppercase;
  padding: 8px;
  margin-bottom: 10px;
}

.mfp-content .site a:hover {
  text-decoration: none;
  background-color: #4283BC;
  color: #fff;
}

.mfp-content .site img {
  width: 100%;
  bottom: 0;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 40px;
}

footer span {
  color: #fff;
  display: inline-block;
}

.mPS2id-highlight {
  color: #D26308 !important;
}
