body { margin: 0; }

@font-face {
  font-family: Vegur-Regular; /* Имя шрифта */
  src: url(../fonts/Vegur-R.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Vegur-Bold; /* Имя шрифта */
  src: url(../fonts/Vegur-B.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Arial-Regular; /* Имя шрифта */
  src: url(../fonts/Arial-Regular.otf); /* Путь к файлу со шрифтом */
}

header {
    height: 654px;
    background: #272727;
    text-align: center;
    position: relative;
    padding-bottom: 45px;
}

    .picture-cont {
        width: 1264px;
        height: 655px;
        margin: 0 auto;
        overflow: hidden;
    }

        .slide-picture {
            height: 655px;
        }

            .slide-picture img {
                margin-top: 57px;
                display: inline;
            }

        .circle {
            width: 70px;
            height: 70px;
            border-radius: 50px;
            background: rgba(0, 0, 0, 0.8);
            -webkit-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
            position: absolute;
            top: 310px;
            cursor: pointer;
        }

        .circle-left {
            margin-left: 25px;

        }

        .circle-right {
            margin-left: 1162px;
        }

            .arrov {
                background-image: url("../img/errov.png");
                height: 26px;
                width: 12px;
                display: block;
                overflow: hidden;
                position: absolute;
                top: 22px;

            }
            .arrov-left {
                background-position: 0 0;
                left: 27px;
            }
            .arrov-right {
                background-position: 12px 0px;
                left: 31px;
            }

        .circle:hover {
            background: rgba(32, 152, 245, 0.8)
        }

    .center-header {
        width: 1000px;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 654px;
    }

        #logo {
            width: 333px;
            height: 121px;
            background: #000;
            display: inline-block;
            float: left;
        }

            #logo img {
                margin-top: 38px;
                margin-left: 30px;
            }

        #soc-networks {
            margin-right: 30px;
            margin-top: 17px;
            color: #c9c9c9;
            text-align: right;
            display: inline-block;
            float: right;
            font-size: 24px;
            font-family: Vegur-Regular;
        }

            #soc-networks ul {
                display: inline-block;
                margin: 0;
                padding-left: 20px;
            }

                #soc-networks ul li {
                    display: inline-block;
                    list-style: none;
                }

                    .sprite {
                        background-image: url("../img/soc_networks.png");
                        height: 24px;
                        width: 24px;
                        display: block;
                        overflow: hidden;
                    }

                    .twitter {
                        background-position: 0 0;
                    }

                    .facebook {
                        background-position: top center;
                    }

                    .plus {
                        background-position: 23px 45px;
                    }
        nav {
            position: absolute;
	        bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;

        }

            #menu {
                margin-bottom: 0px;
                padding: 0px;
                padding-left: 22px;
                padding-right: 22px;
                background: rgba(0, 0, 0, 0.8);
            }

                #menu li {
                    height: 70px;
                    display: inline-block;
                    margin: 0px -2px;
                }

                #menu a:hover {
                    background: #2098f5;
                }


                    #menu li a {
                        text-decoration: none;
                        color: white;
                        font-size: 28px;
                        font-family: Vegur-Bold;
                        line-height: 70px;
                        padding-left: 35px;
                        padding-right: 35px;
                        display: block;
                        transition: all .25s;
                    }



.content {
    background: #272727;
    padding-bottom: 83px;
}

    .center-content {
        width: 940px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

        .info {
            width: 617px;
            text-align: left;
            float: left;
        }
            .center-content h2, h3 {
                color: white;
                font-family: Vegur-Regular;
                font-weight: normal;
                margin: 0;
            }

            .center-content h2 {
                font-size: 36px;
            }

            .center-content h3 {
                font-size: 24px;
            }

            .center-content p {
                color: #939393;
                font-size: 14px;
                font-family: Arial-Regular;
                line-height: 25px;
            }

            .message {
                border-bottom: 1px dashed #939393;
                padding-bottom: 15px;
            }

            .main-inf {
                margin-top: 30px;
                margin-left: auto;
                margin-right: auto;
            }
            .find {
                width: 270px;
                text-align: left;
                float: right;
            }
                .column {
                    width: 180px;
                    display: inline-block;
                    margin-top: 25px;
                }
                    .column img {
                        border: 4px solid white;
                        margin-bottom: 13px;
                    }

                .investing {
                    margin-right: 34px;
                    margin-left: 34px;
                }
                    .column a, button {
                        height: 34px;
                        width: 88px;
                        background: #2098f5;
                        text-align: center;
                        color: white;
                        font-size: 20px;
                        font-family: Vegur-Regular;
                        text-decoration: none;
                        line-height: 37px;
                        display: block;
                        border: none;
                    }

            .center-content .find p {
                color: #939393;
                line-height: 32px;
                margin: 0;
            }

            .find h2 {
                margin-bottom: 11px;
            }

                .form {
                    background: #131313;
                    overflow: hidden;
                    height: 33px;
                    display: inline-block;
                    margin-bottom: 7px;
                }

                    .form select {
                        background: url(../img/arrovlist.png) no-repeat;
                        display: inline-block;
                        color: #535353;
                        border: none;
                        height: 33px;
                        padding-left: 15px;
                        background-position: 245px 15px;
                        overflow: hidden;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -o-appearance: none;
                        -ms-appearance: none;
                    }
                        .form option {
                             background: #131313;
                        }

                    input, select {
                        outline:none;
                    }

                    .wideform {
                        width: 270px;
                    }
                    .location {
                        border: none;
                        color: #535353;
                        padding-left: 15px;
                        box-sizing: border-box;
                    }

                    ::-webkit-input-placeholder {color:#535353;}
                    ::-moz-placeholder          {color:#535353;}
                    :-moz-placeholder           {color:#535353;}
                    :-ms-input-placeholder      {color:#535353;}

                    .narrowform select {
                        width: 125px;
                        background-position: 103px 15px;
                    }

                        .beds {
                            float: left;
                        }

                .baths {
                    float: right;
                }

                .find button {
                    width: 125px;
                    margin-top: 25px;
                    margin-bottom: 40px;
                    display: inline-block;
                    cursor: pointer;
                }

            .find img {
                margin-top: 20px;
            }

            .find ul {
                padding-left: 0;
                margin-top: 5px;
            }
                .find ul li {
                    list-style-type: none;
                    height: 30px;
                    width: 133px;
                    display: inline-block;
                    color: #2098f5;
                    height: 23px;
                }

                    .find ul li a {
                        color: white;
                        font-size: 14px;
                        text-decoration: none;
                    }

.clear {
    clear: both;
}

footer {
    padding-top: 35px;
    padding-bottom: 40px;
    background: #131313;
    text-align: center;
    color: #939393;
    font-size: 14px;
    font-family: Arial-Regular;

}



